@charset "UTF-8";

/* 
#2B41EA
#6D7BE3
#283DDE
#2D335E
#1F2FAB
*/ 

header {
    display: flex;
    justify-content: space-between;
    background-color: #2B41EA;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

nav {
    text-align: right;
}

#logo {
    width: 60px;
    height: 60px;
}

a {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: "Fira Code", sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #2D335E;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

#button:hover {
    background-color: #6D7BE3;
    transform: scale(1.08);
    box-shadow: 5px 5px 5px #000;
    text-decoration: none;
}

#button {
    display: inline-block;
    background-color: #1F2FAB;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 #000;
    margin-right: 0;
    transition: transform 100ms linear;
}

