.main-section {
    background-color: #6D7BE3;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #1F2FAB;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgBlack {
    background-color: #000;
}

.main-section.-bdFirst {
    border-color: #1F2FAB;
}