.main-title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 35px;
    color:#2D335E ;
    text-shadow: 2px 2px 0px #000;
}

.main-title.-second {
    color: #fff;
    text-shadow: none;
    text-align: center;
    font-size: 30px;
}