.progress-bar {
    box-sizing: border-box;
    background-color: #6D7BE3;
    border: 5px solid #000;
    height: 40px;
}

.progress-bar::-webkit-progress-bar,
.progress-bar::-moz-progress-bar {
    background-color: #6D7BE3;
}